<!doctype html>
<html lang="en">
  <head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    </head>
    <body>
      <h1>SRP_Analysis {{date}}</h1>
      <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Task</th>
        <th scope="col">Response Time</th>
        <th scope="col">WCET</th>
        <th scope="col">Blocking Time</th>
        <th scope="col">Preemption</th>
      </tr>
    </thead>
    <tbody>
    {{#each teams as |t| ~}}
      {{~log @index~}}
      <tr>
        <td>{{t.id}}</td>
        <td> {{format t.rt ~}} </td>
        <td> {{format t.wcet ~}} </td>
        <td> {{format t.bt ~}} </td>
        <td> {{format t.pre ~}} </td>
      </tr>
      </li>
    {{/each~}}
    </tbody>
  </table>
    <p>Total CPU load: {{load}}</p>

  </body>
</html>